body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  overflow-x: hidden;
}

#main {
  position: relative;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

#page1-content {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

#page1-content h1 {
  font-family: rejouice;
  font-size: 15vw;
  line-height: 15vw;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#loader h1 {
  color: white;
  font-size: 4rem;
  font-family: rejouice;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f4f5;
  color: #2c3e50;
  line-height: 1.7;
}

#info {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

section {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#intro {
  text-align: center;
  background: linear-gradient(135deg, #5a8f7b, #9dc6b3);
  color: #fff;
  padding: 60px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

#intro h2 {
  font-size: 3rem;
  margin-bottom: 15px;
}

#intro p {
  font-size: 1.4rem;
  max-width: 750px;
  margin: 0 auto;
}

h3 {
  color: #5a8f7b;
  margin-bottom: 20px;
  font-size: 1.8rem;
  position: relative;
}

h3::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: #5a8f7b;
  margin-top: 10px;
  border-radius: 2px;
}

p {
  color: #4d5f6c;
  margin: 15px 0;
  font-size: 1.1rem;
}

ul {
  margin: 20px 0;
  padding-left: 20px;
}

ul li {
  font-size: 1.1rem;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

ul li::before {
  content: "•";
  margin-right: 10px;
  font-size: 1.5rem;
  color: #5a8f7b;
}

#tech-stack ul li strong {
  color: #5a8f7b;
}

section::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: #5a8f7b;
  border-radius: 5px;
}

@media (min-width: 768px) {
  #info {
    grid-template-columns: repeat(2, 1fr);
  }

  #intro {
    grid-column: 1 / -1;
  }
}

#get-in-touch {
  margin-top: 50px;
  padding: 40px;
  background-color: #0073b1;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

#get-in-touch h2 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
}

#get-in-touch #page5-links a {
  display: inline-block;
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
  background-color: #3b8d75;
  padding: 12px 20px;
  border-radius: 8px;
  margin: 10px;
}

#get-in-touch #page5-links a:hover {
  background-color: #316d60;
}

#pricing {
  max-width: 1100px;
  margin: 50px auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  text-align: justify;
}

#pricing h2 {
  font-size: 2.5rem;
  color: #5a8f7b;
  margin-bottom: 50px;
}

.plan {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plan h3 {
  font-size: 1.8rem;
  color: #5a8f7b;
  margin-bottom: 20px;
}

.plan p {
  font-size: 1.6rem;
  color: #333333;
  margin-bottom: 20px;
}

.plan ul {
  list-style: none;
  padding: 0;
  margin-bottom: auto;
  /* Ensures the ul takes up all remaining space */
}

.plan ul li {
  font-size: 1.2rem;
  color: #4d5f6c;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
}

.plan ul li::before {
  content: "✔";
  color: #5a8f7b;
  font-size: 1.5rem;
  margin-right: 10px;
}

.button {
  display: inline-block;
  margin-top: auto;
  padding: 12px 20px;
  background-color: #5a8f7b;
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1.2rem;
}

.button:hover {
  background-color: #488066;
}

@media (min-width: 768px) {
  #pricing {
    grid-template-columns: repeat(3, 1fr);
  }
}
